body{
	background: bisque;
}

.container{
	max-width: 500px;
	width: 100%;
	background-color: #f4f4f4;
	padding: 30px;
	margin: 20px auto;
}

.container .tiitle-form h1{
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
}

.container .form{
	width: 100%;
}

.container .form .form-field{
	display: flex;
	align-items: center;
	margin: 20px;
}

/*span berfungsi untuk element atau ruang kosong*/

.container .form .form-field span{
	width: 200px;
}

.container .form .form-field label{
	width: 200px;
	font-size: 20px;
}

.container .form .form-field input{
	border: none;
	border-bottom: 1px solid;
	background: transparent;
	outline: none;
}

.container .form .form-field input[type="file"]{
	border: none;
}

.container .form .form-field textarea{
	background: transparent;
	outline: none;
}

.container .form .form-field select{
	background: transparent;
	outline: none;
}

.container .form .form-field p{
	margin: 0 10px;
}

.container .form .btn{
	padding: 5px;
	margin: 0 19px;
	border: 1px solid;
	border-radius: 3px;
	cursor: pointer;
}

.container .form .btn:hover{
	background: #DCDCDC;
}